<div class="col">

  <div class="row mt-5">

    <h4>Reglamento</h4>

    <ul>
      <li>El objetivo es sumar 21</li>
      <li>Se reparten dos cartas al jugador y dos a la banca (una oculta) </li>
      <li>El jugador puede pedir otra carta o plantarse</li>
      <li>La banca debe pedir carta hasta superar al jugador o llegar a 17</li>
      <li>Se considera Blackjack un As y un 10</li>
      <li>Blackjack le gana cualquier otra suma de 21 con tres o mas cartas</li>
    </ul>

  </div>

  <br>

  <div class="row" style="display: block;">
    <h4>Valores</h4>

    <ul>
      <li>A: valen 1 u 11 dependiendo la jugada</li>
      <li>J, Q, K: valen 10</li>
      <li>2, 3, 4, 5, 6, 7, 8, 9, 10: valor literal</li>
    </ul>
  </div>

</div>
