<div class="col">

  <div class="row mt-5">

    <h4>Reglamento</h4>

    <ul>
      <li>El objetivo del blackjack es acercarse todo lo posible a los 21 puntos sin superarlos.
      <li>Los puntos se corresponden con el valor numérico de las cartas, mientras que las cartas J, Q y K valen 10 puntos y el As 1 u 11 puntos en función de lo que más convenga al jugador.</li>
      <li>Si el jugador supera los 21 puntos pierde de forma automática, sin importar el resultado de la banca.</li>
      <li>Si es la banca la que supera los 21 puntos, el jugador gana.</li>
      <li>Si ninguno de los dos se pasa, gana aquél que se acerque más a la cifra de 21.</li>
      <li>Se reparten dos cartas al jugador y dos a la banca (una queda oculta). </li>
      <li>El jugador puede pedir carta o plantarse mientras no se pase de 21.</li>
      <li>La banca deberá pedir carta hasta superar al jugador. Si llega a 17 deberá plantarse</li>
      <li>Solamente se considera Blackjack la combinación de un As y un 10 y le gana cualquier otra suma de 21 con tres o mas cartas</li>
      <li>Se reparten 4 mazos de 52 barajas</li>
    </ul>

  </div>

</div>
